<div class="container">
    <h3>Update Menu</h3>
    <form #update="ngForm" (ngSubmit)="onupdatemenu(update)">
      <div>
        <div class="form-group">
        <input 
          type="number" 
          class="form-control" 
          id="id" 
          placeholder="Enter menu id"
          name="id"
          #name="ngModel"
          ngModel
          [(ngModel)]="menu.id"
          
          >
        </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="user.id" 
              placeholder="Enter manager id"
              name="user.id"
              #manager.id="ngModel"
              ngModel
              [(ngModel)]="menu.user.id"
              >
        </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter Manager name"
              name="name"
              #name="ngModel"
              required
              [(ngModel)]="menu.user.name"
              >
            </div>
            <div class="form-group">
                <input 
                  type="text" 
                  class="form-control" 
                  id="email" 
                  placeholder="Enter Manager email"
                  name="email"
                  #email="ngModel"
                  required
                  [(ngModel)]="menu.user.email"
                  >
                </div>
                <div class="form-group">
                    <input 
                      type="text" 
                      class="form-control" 
                      id="password" 
                      placeholder="Enter Manager password"
                      name="password"
                      #password="ngModel"
                      required
                      [(ngModel)]="menu.user.password"
                      >
                    </div>
                    <div class="form-group">
                        <input 
                          type="text" 
                          class="form-control" 
                          id="role" 
                          placeholder="Enter Manager role"
                          name="role"
                          #role="ngModel"
                          required
                          [(ngModel)]="menu.user.role"
                          >
                        </div>
        
        
    
        <button type="submit" class="btn btn-primary">Update</button>
   
    </div>