.form-control{
    width:40%;
    
}
.btn-secondary{
    position: relative;
    left: 350px;
    top: -50px;
}

/* body{
    background-image: url("https://pixabay.com/photos/spaghetti-tomatoes-basil-1932466/");
} */

